h1{
    color: #8fdee6;
    text-align: center;
}

.center{
    position: absolute;
    left: 55%;
    top: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button{
    margin-bottom: 10px;
    background-color: #ffffff;
    color:black;
    border: 2px solid #8dca6d;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    width: 75%;
    border-radius: 7px;
    transition-duration: 0.4s;
    display: inline-block;
}

.button1:hover{
    background-color: #8dca6d;
    color:white;
}

.button2:hover{
    background-color: #8dca6d;
    color:white;
}

.button3:hover{
    background-color: #8dca6d;
    color:white;
}